/***************************************************************************************************************************************************************************************/
/*HTML5 BOILERPLATE MINIFIED*/
/***************************************************************************************************************************************************************************************/
* {
  box-sizing: border-box; }

article {
  display: block; }

aside {
  display: block; }

details {
  display: block; }

figcaption {
  display: block; }

figure {
  display: block;
  margin: 0; }

footer {
  display: block; }

header {
  display: block; }

hgroup {
  display: block; }

nav {
  display: block; }

section {
  display: block; }

audio {
  display: inline;
  zoom: 1; }

canvas {
  display: inline;
  zoom: 1; }

video {
  display: inline;
  zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: sans-serif;
  color: #222; }

button {
  font-family: sans-serif;
  color: #222;
  font-size: 100%;
  vertical-align: middle;
  line-height: normal;
  cursor: pointer;
  -webkit-appearance: button;
  overflow: visible;
  margin: 0; }

input {
  font-family: sans-serif;
  color: #222;
  font-size: 100%;
  vertical-align: middle;
  line-height: normal;
  margin: 0; }

select {
  font-family: sans-serif;
  color: #222;
  font-size: 100%;
  vertical-align: middle;
  margin: 0; }

textarea {
  font-family: sans-serif;
  color: #222;
  font-size: 100%;
  overflow: auto;
  vertical-align: top;
  resize: vertical;
  margin: 0; }

body {
  font-size: 1em;
  line-height: 1.4;
  margin: 0; }

::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

a {
  color: #00e; }

a:hover {
  color: #06e;
  outline: 0; }

a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b {
  font-weight: 700; }

strong {
  font-weight: 700; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: 700; }

pre {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
  white-space: pre-wrap;
  word-wrap: break-word; }

code {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

kbd {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

q {
  quotes: none; }

q:before {
  content: none; }

q:after {
  content: none; }

small {
  font-size: 85%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  bottom: -.25em; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -.5em; }

ul {
  margin: 1em 0;
  padding: 0 0 0 40px; }

ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  margin-left: -7px;
  white-space: normal;
  padding: 0; }

input[type="button"] {
  cursor: pointer;
  -webkit-appearance: button;
  overflow: visible; }

input[type="reset"] {
  cursor: pointer;
  -webkit-appearance: button;
  overflow: visible; }

input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  overflow: visible; }

button[disabled] {
  cursor: default; }

input[disabled] {
  cursor: default; }

input[type="checkbox"] {
  box-sizing: border-box;
  width: 13px;
  height: 13px;
  padding: 0; }

input[type="radio"] {
  box-sizing: border-box;
  width: 13px;
  height: 13px;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input:invalid {
  background-color: #f0dddd; }

textarea:invalid {
  background-color: #f0dddd; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

.chromeframe {
  background: #ccc;
  color: #000;
  margin: .2em 0;
  padding: .2em 0; }

/***************************************************************************************************************************************************************************************/
/*BODY STYLES*/
/***************************************************************************************************************************************************************************************/
@media (max-width: 31.24em) {
  .mobile-down {
    display: none !important; } }

@media (min-width: 68.75em) {
  .large-down {
    display: none !important; } }

@media (max-width: 68.74em) {
  .large-up {
    display: none !important; } }

html {
  font-size: 100%; }

body {
  background: #FFF;
  color: #000;
  font: 1rem Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased; }

a {
  text-decoration: none;
  transition: all .5s ease; }

.container {
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 68.75em) {
    .container {
      padding-left: 0;
      padding-right: 0; } }

img {
  height: auto;
  max-width: 100%; }

iframe {
  max-width: 100%; }

.no-fouc {
  display: none; }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:focus {
    background-color: #00264f;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #e6e7e8;
    display: block;
    font-size: 0.875px;
    font-size: 0.0546875rem;
    font-weight: 600;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0; }

.hidden {
  display: none; }

/*
 * Hide only visually, but have it
 * available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
  margin-bottom: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body {
  line-height: 1.5;
  font-family: Source Sans Pro, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #00264f; }

h1, h2, h3 {
  font-family: Source Sans Pro, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #00264f;
  margin: 0;
  margin-bottom: 0.3em; }

h1 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.1; }
  @media (min-width: 48em) {
    h1 {
      font-size: 45px;
      font-size: 2.8125rem; } }

h2 {
  font-size: 26px;
  font-size: 1.625rem; }
  @media (min-width: 48em) {
    h2 {
      font-size: 32px;
      font-size: 2rem; } }

h3 {
  font-size: 21px;
  font-size: 1.3125rem; }
  h3.tumbnail-title {
    margin: 0.3em 0;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.45; }

p {
  font-size: 17.5px;
  font-size: 1.09375rem; }
  @media (min-width: 48em) {
    p {
      font-size: 21px;
      font-size: 1.3125rem; } }

.section-title {
  font-size: 22px;
  font-size: 1.375rem; }

.post-title {
  font-size: 18px;
  font-size: 1.125rem; }

.sub-title {
  font-size: 22px;
  font-size: 1.375rem; }

.small-title {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 400; }

dfn,
cite,
em,
i {
  font-style: italic; }

p + blockquote {
  margin-top: -20px; }

blockquote {
  margin: 0 1.5rem; }

address {
  margin: 0 0 1.5rem; }

pre {
  background: #ddd;
  font-size: 0.9375px;
  font-size: 0.05859375rem;
  line-height: 1.2;
  margin-bottom: 1.6rem;
  max-width: 100%;
  overflow: auto;
  padding: 1.6rem; }

code,
kbd,
tt,
var {
  font-size: 0.9375px;
  font-size: 0.05859375rem; }

abbr,
acronym {
  border-bottom: 1px dotted #000;
  cursor: help; }

mark,
ins {
  background: #ddd;
  text-decoration: none; }

big {
  font-size: 125%; }

blockquote,
q {
  text-align: left;
  position: relative;
  margin: 0 auto 0 60px; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #00264f;
  border: 0;
  border-radius: 0;
  background-color: #e6e7e8; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="number"]:focus,
  input[type="tel"]:focus,
  input[type="range"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="time"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="color"]:focus,
  textarea:focus {
    color: #000; }

select {
  border: 1px solid #e6e7e8; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
  padding: 0 5px;
  font-weight: 400; }

textarea {
  padding-left: 3px;
  width: 100%; }

@media only screen and (min-width: 641px) {
  body .gform_wrapper textarea.medium {
    width: calc(50% - 8px); } }

.gform_wrapper .top_label .gfield_label {
  color: #ada8a8;
  text-transform: uppercase; }

body .gform_wrapper ul li.gfield {
  margin-top: 20px !important; }

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-transition: all 0.3s;
  font-size: 18px;
  font-size: 1.125rem;
  background-color: #00264f;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 1px;
  outline: none;
  overflow: hidden;
  padding: 0.3em 1.1em;
  position: relative;
  font-weight: bold;
  font-family: Source Sans Pro, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  transition: all 0.3s; }

/*--------------------------------------------------------------
# Lists
--------------------------------------------------------------*/
ul,
ol {
  margin: 0 0 1.5em 1em;
  padding: 0; }

ul.menu {
  list-style: none; }
  ul.menu li {
    list-style: none; }
  ul.menu a {
    text-decoration: none; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1em; }

dt {
  font-weight: 600; }

dd {
  margin: 0 1.5em 1.5em; }

/*--------------------------------------------------------------
# Tables
--------------------------------------------------------------*/
table {
  display: inline-block;
  border-spacing: 0;
  border-collapse: collapse;
  overflow-x: auto;
  max-width: 100%;
  text-align: left;
  vertical-align: top;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%) 0 0, -webkit-linear-gradient(rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%) 100% 0;
  background: linear-gradient(rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%) 0 0, linear-gradient(rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%) 100% 0;
  background-attachment: scroll, scroll;
  background-size: 1px 100%, 1px 100%;
  background-repeat: no-repeat, no-repeat; }

table caption {
  font-size: .9em;
  background: #fff; }

table td, table th {
  padding: .35em .75em;
  vertical-align: top;
  font-size: .9em;
  border: 1px solid #f2f2f2;
  border-top: 0;
  border-left: 0; }

table td:first-child, table th:first-child {
  padding-left: 0;
  background-image: -webkit-linear-gradient(left, white 50%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to right, white 50%, rgba(255, 255, 255, 0) 100%);
  background-size: 2px 100%;
  background-repeat: no-repeat; }

table td:last-child, table th:last-child {
  padding-right: 0;
  border-right: 0;
  background-image: -webkit-linear-gradient(right, white 50%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to left, white 50%, rgba(255, 255, 255, 0) 100%);
  background-position: 100% 0;
  background-size: 2px 100%;
  background-repeat: no-repeat; }

table td:only-child, table th:only-child {
  background-image: -webkit-linear-gradient(left, white 50%, rgba(255, 255, 255, 0) 100%), -webkit-linear-gradient(right, white 50%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to right, white 50%, rgba(255, 255, 255, 0) 100%), linear-gradient(to left, white 50%, rgba(255, 255, 255, 0) 100%);
  background-position: 0 0, 100% 0;
  background-size: 2px 100%, 2px 100%;
  background-repeat: no-repeat, no-repeat; }

table th {
  line-height: 1.2; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
#top-menu {
  display: flex;
  margin: 0; }
  #top-menu li {
    display: flex; }
    #top-menu li:hover, #top-menu li.active, #top-menu liLfocus {
      background-color: #031c3c; }
  #top-menu a {
    color: #fff;
    margin: 2rem 1rem 1rem;
    font-size: 18px;
    font-size: 1.125rem; }
    @media (min-width: 68.75em) {
      #top-menu a {
        margin: 3.3rem 1rem 1.5rem; } }

.pushy #top-menu-mobile {
  flex-direction: column;
  margin: 0; }
  .pushy #top-menu-mobile a {
    color: #00264f;
    font-weight: 600;
    margin: 0 1rem 0 2rem;
    padding: 1rem 0;
    text-transform: uppercase; }
  .pushy #top-menu-mobile li.active, .pushy #top-menu-mobile li:hover {
    background-color: #00264f; }
    .pushy #top-menu-mobile li.active a, .pushy #top-menu-mobile li:hover a {
      color: #fff; }

.pushy .site-title {
  margin: 15px 6px 0; }
  .pushy .site-title a {
    color: #00264f;
    margin: 0;
    padding: 10px 5px 10px; }

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
a {
  color: #00264f; }
  a:hover, a:focus, a:active {
    color: #000; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

/*--------------------------------------------------------------
## Header Style 
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Footer Style 
--------------------------------------------------------------*/
.site-footer {
  background-color: #00264f;
  padding: 30px 0;
  color: #fff;
  margin-top: auto; }
  .site-footer .gform_confirmation_wrapper {
    text-align: center; }

#gform_3 {
  max-width: 700px;
  margin: 0 auto; }
  @media (min-width: 48em) {
    #gform_3 {
      display: flex;
      flex-flow: wrap; } }
  #gform_3 .gform_body {
    flex: 0 1 560px; }
  #gform_3 .gform_footer {
    flex: 1;
    position: relative; }
  #gform_3 .gform_heading {
    flex: 100%;
    margin: 0;
    text-align: center; }
    #gform_3 .gform_heading span.gform_description {
      font-weight: 600;
      font-size: 22px;
      font-size: 1.375rem;
      color: #fff; }
  #gform_3 input[type="email"], #gform_3 input[type="text"] {
    background: #e6e7e8;
    height: 38px;
    border: 0; }
  #gform_3 input[type="submit"] {
    height: 38px;
    width: 116px; }
    @media (min-width: 48em) {
      #gform_3 input[type="submit"] {
        position: absolute;
        bottom: 0; } }
  #gform_3 .gfield_label {
    color: #fff; }
  #gform_3 div.validation_error {
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 25px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    padding: 16px 0;
    clear: both;
    width: 100%;
    text-align: center; }
  #gform_3 li.gfield.gfield_error {
    background-color: transparent;
    border-top: 0;
    border-bottom: 0;
    padding-bottom: 0;
    padding-top: 0; }
    @media (min-width: 48em) {
      #gform_3 li.gfield.gfield_error {
        margin-bottom: -2px !important; } }
  #gform_3 li.gfield.gfield_error.gfield_contains_required {
    padding-right: 16px; }
  #gform_3 .validation_message {
    color: #fff;
    position: absolute; }

.gform_wrapper #gform_3 .gfield_required {
  color: #fff; }

@media (min-width: 48em) {
  #gform_fields_3 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    #gform_fields_3 > li {
      flex: 100%; } }

.socials {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  margin-bottom: 0; }
  .socials svg {
    width: 50px;
    height: 50px; }
  .socials a {
    margin: 0 7px; }
    .socials a:hover svg {
      -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
      animation: heartbeat 1.5s ease-in-out infinite both; }

/*--------------------------------------------------------------
## Posts
--------------------------------------------------------------*/
.page-wrap {
  margin-bottom: 60px; }

.sticky {
  display: block; }

.hentry {
  margin: 0 0 1.5em; }

.byline,
.updated:not(.published) {
  display: none; }

.single .byline,
.group-blog .byline {
  display: inline; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

.entry-title a {
  text-decoration: none; }

.blog .post-listing a {
  text-decoration: none; }

.blog .post-listing .small-title {
  margin-bottom: 5px;
  text-decoration: underline; }

.wp-pagenavi a, .wp-pagenavi span {
  border: 0; }

/*--------------------------------------------------------------
## Pages
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

.wp-caption {
  margin: 1em 0 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

/* Ensure center-aligned captions center-align properly. */
.wp-caption.aligncenter {
  margin-left: auto;
  margin-right: auto; }

/* Give some padding to floated elements, to prevent them butting up against text. */
.wp-caption.alignleft {
  margin-right: 20px; }

.wp-caption.alignright {
  margin-left: 20px; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
## ICons
--------------------------------------------------------------*/
.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  width: 1em; }

/*--------------------------------------------------------------
##  Magnific Popup CSS
--------------------------------------------------------------*/
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }

.mfp-preloader a {
  color: #CCC; }

.mfp-preloader a:hover {
  color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }

.mfp-close:hover,
.mfp-close:focus {
  opacity: 1; }

.mfp-close:active {
  top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #fff; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }

.mfp-arrow:active {
  margin-top: -54px; }

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1; }

.mfp-arrow:before,
.mfp-arrow:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent; }

.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px; }

.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }

.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px; }

.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }

.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px; }

.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }

.mfp-iframe-holder .mfp-close {
  top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444; }

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px; }

.mfp-figure figure {
  margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

/**
 * Fade-zoom animation for first dialog
 */
/* Styles for dialog window */
#small-dialog {
  background: #031c3c;
  color: #fff;
  padding: 10px 50px;
  text-align: left;
  max-width: 400px;
  margin: 40px auto;
  position: relative; }
  #small-dialog p {
    text-align: center;
    font-weight: 600; }
  #small-dialog .gform_wrapper .top_label .gfield_label {
    text-transform: none; }
  #small-dialog #gform_1 .gfield_label, #small-dialog input[type="submit"]:hover {
    color: #fff; }
  #small-dialog .gform_wrapper ul.gform_fields li.gfield {
    padding-right: 0; }
  #small-dialog .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    padding: 10px 4px; }
  #small-dialog .gform_wrapper div.validation_error {
    color: #ffffff;
    border: none; }
  #small-dialog .gform_wrapper .validation_message {
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: normal; }
  #small-dialog .gform_wrapper li.gfield.gfield_error, #small-dialog .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    background-color: transparent;
    margin-bottom: 0 !important;
    border-top: 0;
    border-bottom: 0;
    padding-bottom: 0px;
    padding-top: 0px;
    box-sizing: border-box; }

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8); }

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0; }

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8; }

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0; }

.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s both; }

/* ----------------------------------------------
 * Generated by Animista on 2017-11-2 12:23:9
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * DOCUMENT INFORMATION
 * @file fade-in.less
 * @version 1.0
 * @author Ana Travas, @ana108
 * ----------------------------------------
 */
/**
 * ----------------------------------------
 * animation fade-in-bck
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-bck {
  0% {
    -webkit-transform: translateZ(80px);
    transform: translateZ(80px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

@keyframes fade-in-bck {
  0% {
    -webkit-transform: translateZ(80px);
    transform: translateZ(80px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

/**
 * ----------------------------------------
 * animation fade-in-bl
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-bl {
  0% {
    -webkit-transform: translateX(-50px) translateY(50px);
    transform: translateX(-50px) translateY(50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
    opacity: 1; } }

@keyframes fade-in-bl {
  0% {
    -webkit-transform: translateX(-50px) translateY(50px);
    transform: translateX(-50px) translateY(50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
    opacity: 1; } }

/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

/**
 * ----------------------------------------
 * animation fade-in-br
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-br {
  0% {
    -webkit-transform: translateX(50px) translateY(50px);
    transform: translateX(50px) translateY(50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
    opacity: 1; } }

@keyframes fade-in-br {
  0% {
    -webkit-transform: translateX(50px) translateY(50px);
    transform: translateX(50px) translateY(50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
    opacity: 1; } }

/**
 * ----------------------------------------
 * animation fade-in-fwd
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

/**
 * ----------------------------------------
 * animation fade-in-left
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

/**
 * ----------------------------------------
 * animation fade-in-right
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

/**
 * ----------------------------------------
 * animation fade-in-tl
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-tl {
  0% {
    -webkit-transform: translateX(-50px) translateY(-50px);
    transform: translateX(-50px) translateY(-50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
    opacity: 1; } }

@keyframes fade-in-tl {
  0% {
    -webkit-transform: translateX(-50px) translateY(-50px);
    transform: translateX(-50px) translateY(-50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
    opacity: 1; } }

/**
 * ----------------------------------------
 * animation fade-in-top
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

/**
 * ----------------------------------------
 * animation fade-in-tr
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-tr {
  0% {
    -webkit-transform: translateX(50px) translateY(-50px);
    transform: translateX(50px) translateY(-50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
    opacity: 1; } }

@keyframes fade-in-tr {
  0% {
    -webkit-transform: translateX(50px) translateY(-50px);
    transform: translateX(50px) translateY(-50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
    opacity: 1; } }

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
