.site-header {
  background-color: $primery-color;
  .container {
    user-select: none;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  a {
    color: #fff;
  }
  .header-nav {
    display: flex;
    align-items: center;
    width: 40%;
  }
}

.custom-logo-link {
  img {
    max-width: 200px;
  }
}