// Fonts
$global-font-size: 100%;
$global-width: 1080px;
$global-lineheight: 1.5;

// Colors
$primery-color: #00264f;
$header-color: $primery-color;
$light-blue: #4a6384;
$light-grey: #ede4dd;
$dark-grey: #808080;
$dark-blue: #031c3c;
$input-color: #e6e7e8;

$color__text-screen: $input-color;

$body-font-family: Source Sans Pro, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$secondary-font-family: "georgia", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

